<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapeauDatabase" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=dbchapeau04;
                   User ID=dbchapeau04;Password=Mi4ejsXs_v?3;MultipleActiveResultSets=true" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>